                                  <class id="Mobius.ComposedModels.Common.AtomicPanelObject">
					<int id="ClassVersion">3</int>
					<class id="Mobius.BaseClasses.BaseVertexClass">
						<int id="ClassVersion">3</int>
						<class id="Mobius.BaseClasses.BasePanelObjectClass">
							<int id="ClassVersion">5</int>
							<string id="Name">${sandarepname}</string>
							<boolean id="ContainsLabel">true</boolean>
							<boolean id="IsLabelShown">true</boolean>
						</class>
						<point id="CenterPoint">
							<int id="x">${xpos}</int>
							<int id="y">200</int>
						</point>
					</class>
					<string id="Model Name">${sandarepname}</string>
				</class>
