				<class id="Mobius.BaseClasses.BaseEdgeClass">
					<int id="ClassVersion">3</int>
					<int id="LineType">2</int>
					<string id="StartVertex"><: $DAREPNODENAME :></string>
					<string id="FinishVertex"><: $sandarepname :></string>
					<boolean id="Arrows">false</boolean>
					<vector id="PointList">
						<point id="0">
							<int id="x">300</int>
							<int id="y">70</int>
						</point>
						<point id="1">
							<int id="x"><: $xpos :></int>
							<int id="y">105</int>
						</point>
					</vector>
				</class>
