<string id="NewSharedObjName"><: $drsvnewsharedobjname :></string>
<string id="Function"></string>
<int id="FunctionIndex">-1</int>
<boolean id="actionFlag">false</boolean>
<vector id="FullAccessPathStrings"><: $fapstrings :>
</vector>
