  #ifndef __DAREP_IN_H_INCLUDED__   // if x.h hasn't been included yet...
  #define __DAREP_IN_H_INCLUDED__   //   #define this so the compiler knows it has been included

  // namespace for Join-Based Replication of SAN
  namespace SANDAREP
  {

  <: $sannamespaces :>
  
  } // namespace for Join-Based Replication of SAN

  <: $listreplicaindexes :>

  #endif