      DRSTATEVAR<<: $drsvtype :>,<: $drsvnamespace :>::MAXDEPS>* <: $drsvname :>() { // a member function for each dependency-related state variable: <: $drsvname :>
      return &<: $drsvname :>STATEVAR;
      };
