
  // namespace for SAN: <: $TEMPLATESANNAME :>
  namespace <: $TEMPLATESANNAME :>
  {
   REPS<REP,MAXNREP> rep;

   // dummy objects for each DRSV
   <: $dummydrsvs :>
} // namespace for SAN: <: $TEMPLATESANNAME :>